# Mobile Tools for Java (J2ME)
.mtj.tmp/

# gradle

.gradle/
build/
out/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
